body {
    text-align: center;
    background-color: greenyellow;
}

#image-1 {
    width: 500px;
    height: 300px;
    border-radius: 10%
}

#hobby {
    background-color: skyblue;
    color: deeppink;
}

#draw {
    padding: 50px;
    text-align: center;
    background-color: #F48FB1;
    color: #9C27B0;
}

img {
    width: 200px;
    height: 200px;
}
h1{
    color: darkblue;
}
.link{
    font-size: 30px;
    font-family: cursive;
    color: crimson;
}